<mat-progress-bar mode="indeterminate" color="accent" *ngIf="loading"></mat-progress-bar>
<div style="padding: 20px;" fxLayout="column" fxFlexLayout="center space-around">
  <h2>> 7 Days</h2>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="position">
      <th style="width: 10%!important;" mat-header-cell *matHeaderCellDef> No. </th>
      <td style="width: 10%!important;" mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <ng-container matColumnDef="account">
      <th style="width: 40%!important;" mat-header-cell *matHeaderCellDef> Account </th>
      <td style="width: 40%!important;" mat-cell *matCellDef="let element"> {{element.account}} </td>
    </ng-container>

    <ng-container matColumnDef="lastVisit">
      <th style="width: 25%!important;" mat-header-cell *matHeaderCellDef> Last Visit</th>
      <td style="width: 25%!important;" mat-cell *matCellDef="let element"> {{element.lastVisit}} </td>
    </ng-container>

    <ng-container matColumnDef="lastVisitInDays">
      <th style="width: 25%!important;" mat-header-cell *matHeaderCellDef> Last Visit in Days </th>
      <td style="width: 25%!important;" mat-cell *matCellDef="let element"> {{element.lastVisitInDays}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator class="mat-elevation-z8" #paginator1 [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>


<div style="padding: 20px;" fxLayout="column" fxFlexLayout="center space-around">
  <h2>> 14 Days</h2>
  <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8">

    <ng-container matColumnDef="position">
      <th style="width: 10%!important;" mat-header-cell *matHeaderCellDef> No. </th>
      <td style="width: 10%!important;" mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <ng-container matColumnDef="account">
      <th style="width: 40%!important;" mat-header-cell *matHeaderCellDef> Account </th>
      <td style="width: 40%!important;" mat-cell *matCellDef="let element"> {{element.account}} </td>
    </ng-container>

    <ng-container matColumnDef="lastVisit">
      <th style="width: 25%!important;" mat-header-cell *matHeaderCellDef> Last Visit</th>
      <td style="width: 25%!important;" mat-cell *matCellDef="let element"> {{element.lastVisit}} </td>
    </ng-container>

    <ng-container matColumnDef="lastVisitInDays">
      <th style="width: 25%!important;" mat-header-cell *matHeaderCellDef> Last Visit in Days </th>
      <td style="width: 25%!important;" mat-cell *matCellDef="let element"> {{element.lastVisitInDays}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator #paginator2 class="mat-elevation-z8" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>


<div style="padding: 20px;" fxLayout="column" fxFlexLayout="center space-around">
  <h2>> 30 Days</h2>
  <table mat-table matSort matSortActive="account" [dataSource]="dataSource3" class="mat-elevation-z8">

    <ng-container matColumnDef="position">
      <th style="width: 10%!important;" mat-header-cell *matHeaderCellDef> No. </th>
      <td style="width: 10%!important;" mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <ng-container matColumnDef="account">
      <th style="width: 40%!important;" mat-header-cell *matHeaderCellDef mat-sort-header="account"> Account </th>
      <td style="width: 40%!important;" mat-cell *matCellDef="let element"> {{element.account}} </td>
    </ng-container>

    <ng-container matColumnDef="lastVisit">
      <th style="width: 25%!important;" mat-header-cell *matHeaderCellDef> Last Visit</th>
      <td style="width: 25%!important;" mat-cell *matCellDef="let element"> {{element.lastVisit}} </td>
    </ng-container>

    <ng-container matColumnDef="lastVisitInDays">
      <th style="width: 25%!important;" mat-header-cell *matHeaderCellDef> Last Visit in Days </th>
      <td style="width: 25%!important;" mat-cell *matCellDef="let element"> {{element.lastVisitInDays}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator #paginator3 class="mat-elevation-z8" [pageSizeOptions]="[5, 10, 20, dataSource3.data.length]" showFirstLastButtons></mat-paginator>
</div>