<div style="padding: 10px; height: 100%;" fxLayout="row" fxLayoutAlign="space-around stretch">
  <div fxLayout="column" fxLayoutAlign="start stretch" style="padding: 10px; width: 35%;">
      <h3><b>Filters</b></h3>
    <!-- <div> -->
      <!-- <mat-form-field *ngIf="currentUserRole != 'state'">
        <mat-label>State</mat-label>
        <mat-select (selectionChange)="filterState($event)" [disabled]="isLoading || currentUserRole == 'state'" [(ngModel)]="selectedState">
          <mat-option value="" selected>
            All States
          </mat-option>
          <mat-option *ngFor="let state of states" [value]="state">
            {{state}}
          </mat-option>
        </mat-select>
      </mat-form-field> -->
    <!-- </div> -->

    <!-- <div fxLayout="column" fxLayoutAlign="space-between stretch"> -->
      <mat-form-field>
        <mat-label>Checklist</mat-label>
        <mat-select (selectionChange)="filterChecklist($event)" [disabled]="isLoading" [(ngModel)]="selectedChecklist">
          <mat-option *ngFor="let checklist of checklists" [value]="checklist">
            {{checklist.displayValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    <!-- </div> -->
    <div fxLayout="column" fxLayoutAlign="space-between stretch">
      <h3><b>Period</b></h3>
      <!-- <mat-list>
        <mat-list-item *ngFor="let option of selectedOption; let index=index">
          <h3 matLine> {{option.displayValue}} </h3>
          <button mat-icon-button (click)="removeOption(index)" type="button">
            <mat-icon>close</mat-icon>
          </button>
        </mat-list-item>
      </mat-list> -->

      <mat-form-field>
        <mat-label>Date Range</mat-label>
        <mat-select 
          [formControl]="optionsDaily" 
          [(ngModel)]="selectedOptionDaily" 
          [errorStateMatcher]="matcherDaily">
          <!-- <mat-option>
            None
          </mat-option> -->
          <mat-option *ngFor="let period of periods" [value]="period">
          <!-- <mat-option *ngFor="let period of periods" [value]="period" [disabled]="options.value?.length == 1 && options.value?.includes(period)"> -->
            {{ period.displayValue }}
          </mat-option>
        </mat-select>
        <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
        <mat-error *ngIf="optionsDaily.hasError('required')">Must select a date range to display.</mat-error>
      </mat-form-field>

      <!-- <mat-form-field> -->
      <div style="padding-bottom: 17.5px;" fxLayout="row" fxLayoutAlign="end center">
        <button mat-button color="primary" [disabled]="isLoading" (click)="resetPeriodFilter()">Reset</button>

        <button 
          mat-raised-button 
          color="primary" 
          style="float: right;"
          (click)="fetchData()"
          [disabled]="isLoading || isUpdateButtonDisabled()">
          Update Table
        </button>
      </div>
      <!-- </mat-form-field> -->
    </div>
    
  </div>

  <div style="width: 100%; padding: 10px;">
    <h2 style="margin-bottom: 8px!important;">{{ selectedChecklist.displayValue }} Checklist Summary ({{ dateView }})</h2>
    <!-- <p *ngIf="expectedCheckCount">(Expected times checked: {{ expectedCheckCount }})</p> -->
    <mat-progress-bar mode="indeterminate" color="accent" *ngIf="isLoading"></mat-progress-bar>
    <table style="width: 100%;" mat-table matSort matSortActive="equipmentLocation" matSortDirection="desc" [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- <table style="width: 100%;" mat-table matSort matSortActive="weekNumber" matSortDirection="desc" [dataSource]="dataSource" class="mat-elevation-z8"> -->

      <!-- <ng-container matColumnDef="weekNumber">
        <th style="width: 15%!important;" mat-header-cell *matHeaderCellDef mat-sort-header> Week Number </th>
        <td style="width: 15%!important;" mat-cell *matCellDef="let element"> {{element.weekNumber}} </td>
      </ng-container> -->

      <ng-container matColumnDef="equipmentLocation">
        <th style="width: 15%!important;" mat-header-cell *matHeaderCellDef mat-sort-header="equipmentLocation"> Equipment Location </th>
        <td style="width: 15%!important;" mat-cell *matCellDef="let element"> {{element.equipmentLocation}} </td>
      </ng-container>

      <ng-container matColumnDef="lineNumber">
        <th style="width: 15%!important;" mat-header-cell *matHeaderCellDef mat-sort-header> Line Number </th>
        <td style="width: 15%!important;" mat-cell *matCellDef="let element"> {{element.lineNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="mon">
        <th style="width: 12%!important;" mat-header-cell *matHeaderCellDef mat-sort-header> Mon </th>
        <td style="width: 12%!important;" mat-cell *matCellDef="let element"> 
        <!-- <td style="width: 10%!important; padding-left: 20px;" mat-cell *matCellDef="let element">  -->
          <mat-icon color="primary" *ngIf="element.mon == 'pass'">check_circle</mat-icon> 
          <mat-icon color="accent" *ngIf="element.mon == 'fail'">cancel</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="tue">
        <th style="width: 12%!important;" mat-header-cell *matHeaderCellDef mat-sort-header> Tue </th>
        <td style="width: 12%!important;" mat-cell *matCellDef="let element"> 
          <mat-icon color="primary" *ngIf="element.tue == 'pass'">check_circle</mat-icon> 
          <mat-icon color="accent" *ngIf="element.tue == 'fail'">cancel</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="wed">
        <th style="width: 12%!important;" mat-header-cell *matHeaderCellDef mat-sort-header> Wed </th>
        <td style="width: 12%!important;" mat-cell *matCellDef="let element"> 
          <mat-icon color="primary" *ngIf="element.wed == 'pass'">check_circle</mat-icon> 
          <mat-icon color="accent" *ngIf="element.wed == 'fail'">cancel</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="thu">
        <th style="width: 12%!important;" mat-header-cell *matHeaderCellDef mat-sort-header> Thu </th>
        <td style="width: 12%!important;" mat-cell *matCellDef="let element">
          <mat-icon color="primary" *ngIf="element.thu == 'pass'">check_circle</mat-icon> 
          <mat-icon color="accent" *ngIf="element.thu == 'fail'">cancel</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="fri">
        <th style="width: 12%!important;" mat-header-cell *matHeaderCellDef mat-sort-header> Fri </th>
        <td style="width: 12%!important;" mat-cell *matCellDef="let element">
          <mat-icon color="primary" *ngIf="element.fri == 'pass'">check_circle</mat-icon> 
          <mat-icon color="accent" *ngIf="element.fri == 'fail'">cancel</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="details">
        <th style="width: 10%!important;" mat-header-cell *matHeaderCellDef mat-sort-header> Details </th>
        <!-- <td style="width: 10%!important; padding-left: 20px;" mat-cell *matCellDef="let element"> <a href="{{generateData()}}" *ngIf="element.items.length>0">link here</a> </td> -->
        <td style="width: 10%!important;" mat-cell *matCellDef="let element" >
            <!-- mat-icon-button  -->
          <button 
            mat-button
            color="primary" 
            (click)="generateData(element)">
            View
            <!-- <mat-icon>get_app</mat-icon> -->
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator class="mat-elevation-z8" #paginator [pageSizeOptions]="[10, 20, 40, dataSource.data.length]" showFirstLastButtons></mat-paginator>
  </div>
</div>