<!-- <p>mainview works!</p> -->

<!-- <div style="
    height:0; width:100%;
    background-image: url('./assets/img/brochures/1/1.png');
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 125%;
    ">
    
</div> -->

<!-- <embed src="/./assets/pdf/sc-auto-range.pdf"  type="application/pdf" width="100%" height="100%" /> -->
<style>
    

</style>
<div style="height: 100%;">

    <!-- <video #media [vgMedia]="media" id="singleVideo" preload="auto" autoplay="autoplay" controls> -->
    <video #media id="singleVideo" style="height: 100%; width: 100%;" preload="auto" autoplay="autoplay" controls playsinline>
      <source [src]="src" type="video/mp4">
      <!-- <source src="https://scb-videos.s3-ap-southeast-2.amazonaws.com/Supercharge+M6+R5+fix+iPad+.mp4" type="video/mp4"> -->
    </video>
</div>